<footer class="text-center footer">

    <div class="row">
      <div class="col-sm-12">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="" data-original-title="TO TOP">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <p>Contáctenos, usted será atendido antes de 24 horas.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Cárdenas, Cuba</p>
        <p><span class="glyphicon glyphicon-phone"></span> +53 5811344.</p>
        <p><span class="glyphicon glyphicon-envelope"></span> riveromartinezabraham@gmail.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Desarrollado por Abraham Rivero Martínez.</p> 
      </div>
    </div>
      </footer>
    