<app-sidebar></app-sidebar>

<div class="temporal-container">
  <div class="d-flex flex-row">
    <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
        <div  class="card card-body">
            <h4 class="card-title">Dictamen</h4>
              <p class="card-text">Brindar servicios de arrendamiento de las instalaciones que forman 
                parte de nuestro patrimonio al sector del turismo.
             </p>
                <a (click)="viewDictamen()" class="btn btn-primary firts">Más</a>
            </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
        <div  class="card card-body">
            <h4 class="card-title">Solicitud de importacion</h4>
              <p class="card-text">Brindar servicios de arrendamiento de las instalaciones que forman 
                parte de nuestro patrimonio al sector del turismo.
             </p>
                <a (click)="viewSolicitudI()" class="btn btn-primary firts">Más</a>
            </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
        <div  class="card card-body">
            <h4 class="card-title">Traspaso</h4>
              <p class="card-text">Brindar servicios de arrendamiento de las instalaciones que forman 
                parte de nuestro patrimonio al sector del turismo.
             </p>
                <a (click)="viewTraspaso()" class="btn btn-primary firts">Más</a>
            </div>
    </div>
</div>

<div class="d-flex flex-row">
    <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
        <div  class="card card-body">
            <h4 class="card-title">Login</h4>
              <p class="card-text">Brindar servicios de arrendamiento de las instalaciones que forman 
                parte de nuestro patrimonio al sector del turismo.
             </p>
                <a (click)="viewLogin()" class="btn btn-primary firts">Más</a>
            </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
        <div  class="card card-body">
            <h4 class="card-title">Solicitud de materiales</h4>
              <p class="card-text">Brindar servicios de arrendamiento de las instalaciones que forman 
                parte de nuestro patrimonio al sector del turismo.
             </p>
                <a (click)="viewSolicitudM()" class="btn btn-primary firts">Más</a>
            </div>
    </div>
</div>

</div>
