.dictamen{
margin: 0;
}

.dictamenR{
    margin-bottom: 10px;
}

.prueba{
text-align: center;
}

.ofertaDictamen{
    text-align: center;
}

.botones{
    margin: 0;
    margin-bottom: 10px !important;
}

.colorBtn{
background-color: #d3d6d8;
}



