<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#">
    <img class="imagen" src="assets/images/logo.svg" alt="Logo de la Empresa">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown menu-area">
        <a class="nav-link dropdown-toggle" href="#" id="mega-one" data-toggle="dropdown" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu mega-area" aria-labelledby="mega-one">
         <div class="d-flex flex-row">
         <div class="d-flex flex-column">
           <h2>Operaciones</h2>
           <div class="dropdown-divider"></div>
           <a href="#" class="dropdown-item">Dictamen Técnico</a>
           <a href="#" class="dropdown-item">Solicitud de Materiales</a>
           <a href="#" class="dropdown-item">Requisición Técnica</a>
           <a href="#" class="dropdown-item">Traspaso</a>
         </div>  

         <div class="d-flex flex-column second-column">
          <h2>Dashboard</h2>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Semanal</a>
          <a href="#" class="dropdown-item">Mensual</a>
          <a href="#" class="dropdown-item">Anual</a>
        </div> 

        <div class="d-flex flex-column">
          <h2>Inicio</h2>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Quienes somos</a>
          <a href="#" class="dropdown-item">Que hacemos</a>
          <a href="#" class="dropdown-item">Contacto</a>
        </div> 
         </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>
   
  </div>
</nav>
