.menu-area{
    position:static;
}

.mega-area{
    position: absolute;
    width: 360px;
    left: 0;
    right: 0;
    padding: 15px;
}

.dropdown-item{
    padding: 5px;
}

h5{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}

.flex-column{
    text-align: center;
}

.flex-column a{
    font-size: 11px;
}

.second-column{
    padding-left: 10px;
    padding-right: 10px;
}

.imagen{
    width: 140px;
    height: 45px;
    
}


