<div>
   
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 prueba">Analisis de la oferta</h1>
        <hr class="my-2">
    </div>
 </div>

    <div class="row cumplimiento">
        <div class="col-sm-6">

 <label class="solicitudOferta" for="solicitudOferta"><strong>Cumplimiento de la Solicitud de Oferta:</strong></label>

 <div class="row solicitudOferta">
  <div class="form-group">
    <label for="inputCotizacionPosiciones">Cotización de todas las posiciones solicitadas</label>
    <select class="form-control custom-select">
      <option selected="" disabled="">Seleccione</option>
      <option>Si</option>
      <option>No</option>   
    </select>
  </div>
 </div>

<div class="row solicitudOferta">
  <div class="form-group">
    <label for="inputCumplimientoEspecificaciones">Cumplimiento de todas las especificaciones técnicas</label>
    <select class="form-control custom-select">
      <option selected="" disabled="">Seleccione</option>
      <option>Si</option>
      <option>No</option>   
    </select>
  </div>
</div>

<div class="row solicitudOferta">
  <div class="form-group">
    <label for="inputEntregaDocumentacion">Entrega de la documentación técnica necesaria</label>
    <select class="form-control custom-select">
      <option selected="" disabled="">Seleccione</option>
      <option>Si</option>
      <option>No</option>   
    </select>
  </div>
</div>

        </div>

        <div class="col-sm-6">
            <label class="condicionesEntrega" for="solicitudOferta"><strong>Condiciones de Entrega:</strong></label>
            <div class="form-group condicionesEntrega">
                <label for="my-textarea">Tiempo de entrega de los suministros:</label>
                <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="row conocimiento">

        <div class="col-sm-6">
            <label class="conocimientoProducto" for="solicitudOferta"><strong>Conocimiento del Producto:</strong></label>
 <div class="row conocimientoProducto">
  <div class="form-group">
    <label for="inputConocimientoSuministro">Conocimiento del suministro en el país</label>
    <select class="form-control custom-select">
      <option selected="" disabled="">Seleccione</option>
      <option>Si</option>
      <option>No</option>   
    </select>
  </div>
 </div>

 <div class="row conocimientoProducto">
  <div class="form-group">
    <label for="inputConocimientoProducto">Conocimiento del producto en el país y el exterior</label>
    <select class="form-control custom-select">
      <option selected="" disabled="">Seleccione</option>
      <option>Si</option>
      <option>No</option>   
    </select>
  </div>
 </div>

        </div>

        <div class="col-sm-6">    

            <div class="form-group precio">
                <label class="precioTotal" for="precioTotal"><strong>Precio Total:</strong></label>
                <br>
                <label for="valorOferta">Valor de la oferta:</label>
                <br>
                <label for="my-textarea">Ajuste del precio al presupuesto:</label>
                <textarea id="my-textarea" class="form-control ajusteText" name="" rows="3"></textarea>
            </div>

        </div>
    </div>

 <div class="row asistencia">

  <div class="col-sm-6">
    <label class="conocimientoProducto" for="solicitudOferta"><strong>Asistencia Técnica:</strong></label>
  <br>
  <div class="form-group">
    <label for="inputAsistenciaTecnica">La asistencia técnica</label>
    <select class="form-control custom-select">
      <option selected="" disabled="">Seleccione</option>
      <option>Si</option>
      <option>No</option>   
    </select>
  </div>
  </div>

  <div class="col-sm-6">
    <label class="garantia" for="my-textarea"><strong>Garantía:</strong></label>
    <textarea id="my-textarea" class="form-control garantiaText" name="" rows="3"></textarea>
  </div>

 </div>

<div class="row consideraciones">
  <div class="col-sm-12">
    <label for="my-textarea"><strong>Otras consideraciones:</strong></label>
    <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
  </div>
</div>

<div class="row concluciones">
  <div class="col-sm-6">
    <label class="conocimientoProducto" for="solicitudOferta"><strong>Conclusiones del Dictamen Técnico:</strong></label>
    <br>
    <div class="form-group">
      <label for="inputPlanteamiento">Por lo anterior planteado la oferta es</label>
      <select class="form-control custom-select">
        <option selected="" disabled="">Seleccione</option>
        <option>Aceptada</option>
        <option>Rechazada</option>   
      </select>
    </div>
  </div>

  <div class="col-sm-6">
    <label class="observaLabel" for="my-textarea"><strong>Observaciones:</strong></label>
    <textarea id="my-textarea" class="form-control observaText" name="" rows="3"></textarea>
  </div>
</div>

</div>



