.jumbotron{
margin-top: 32px;
}

.solicitudOferta{
margin: 10px;
}

.condicionesEntrega{
    margin: 10px;
}

.conocimientoProducto{
    margin: 10px;
}

.precio{
    margin-right: 10px;
}

.precioTotal{
    margin: 10px;
}

.cumplimiento{
margin: 0;
margin-bottom: 10px !important;
}

.conocimiento{
    margin: 0;
    margin-bottom: 10px !important;
}

.garantia{
    margin: 10px;
    margin-bottom: 8px !important;
}

.garantiaText{
    height: 71px;
}

.prueba{
    text-align: center;
}

.asistencia{
margin: 0;
margin-bottom: 10px !important;
}

.consideraciones{
margin: 0;
margin-bottom: 10px !important;
}

.concluciones{
    margin: 0;
    margin-bottom: 10px !important;
}

.observaLabel{
    margin: 10px;
}

.ajusteText{
    height: 97px;
}

.observaText{
    height: 71px;
}

