.flex-datos{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-comentarios{
    margin-left: 10px;
    margin-right: 10px;
}

.flex-name{
    margin-bottom: 10px;
}

.flex-phone{
    margin-bottom: 10px;
}

.flex-email{
    margin-bottom: 10px;
}

.contactForm{
    background:#f6f6f6;
}

.btn-default{
    background: #ece9e9;
    height: 38px;
    width: 68.38px;
}

.formCont{
margin-bottom: 10px;

}