<div id="contact" class="container-fluid contactForm">
    <h2 class="text-center">Contáctenos</h2>
 <div class="d-flex flex-row justify-content-between flex-wrap">
     <div class="d-flex flex-column flex-fill flex-datos">
         <div class="d-flex flex-column flex-fill flex-name">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
         </div>
         <div class="d-flex flex-column flex-fill flex-phone">
            <input class="form-control" id="phone" name="phone" placeholder="Teléfono" type="number" required> 
        </div>
        <div class="d-flex flex-column flex-fill flex-email">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>   
        </div>
     </div>
     <div class="d-flex flex-column flex-fill flex-comentarios">

         <div class="d-flex flex-column formCont">
            <textarea class="form-control " id="comments" name="comments" placeholder="Comentario" rows="5"></textarea>
         </div>
        
        <div class="d-flex flex-column form-group align-items-end">
            <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
     </div>
 </div>
  </div>

