<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4 jumboT">Presupuesto Límite Asignado</h3>
            <hr class="my-2">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="mmt">MMT:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre de la Organización">
              </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="mcuc">MCUC:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre de la Organización">
              </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="marcoImport">Marco de importación:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre de la Organización">
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre de la Organización">
            </div>
        </div>

        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="garantias">Garantías:</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre de la Organización">
              </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="my-textarea">Descripción genérica de la mercancía:</label>
                <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
            </div>
        </div>  
    </div>

    <div class="d-flex flex-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="my-textarea">Servico de Posventa y Montaje:</label>
                <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="my-textarea">Otras obligaciones y particularidades:</label>
                <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
