<div id="mision" class="container-fluid mission" style="text-align: right;">
    <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo" aria-hidden="true"></span>
        </div>
        <div class="col-sm-8">
          <h2>¿Quiénes somos?</h2>
          <h4><strong>Misión:</strong> Somos una empresa del Ministerio del Turismo que arrendamos inmuebles de nuestro 
            patrimonio y a tráves de procesos inversionistas, los conservamos y ampliamos, además brindamos servicios a terceros
             con profesionalidad y sentido de pertenencia.</h4>
          <p><strong>Visión:</strong> Ser reconocida como una auténtica y profesional inmobiliaria en 
            perfeccionamiento empresarial, por la prestación de un servicio de excelencia y una inmejorable conversación y ampliación de nuestro patrimonio.</p>
          <button (click)="viewEmpresa()" class="btn btn-default btn-lg">Ver más</button> 
        </div>
      </div>
  </div>